{% extends 'restaurant/index.html' %}
{% load static %}
{% block content %}
    <section class="wrap">
        <header>
            <center><h1> Welcome to Oaxaca!</h1></center>
        </header>
        <article>
            <center><p>Founded in 4/20/1969, Oaxaca was originally a coffee shop ran by the Crips, that took the west coast by storm with its signature weed, meth and uranium.</p></center>
            <center><p>However in 1971 the one and only Snoop Dogg was born, legends say that he hotboxed his mothers womb as he came out smoking 5 joints. After overseeing Oaxaca for 1 day he decided it was time he took over and so the much loved Oaxaca became the restaurant we know and love today. </p></center>
            <center><p>After the prophets' arrival he added many loved items onto the menu such as the Snoop Hot Dogg and the unforgettable Garlic Bread.</p></center>
            <center><p>Over the years Oaxaca menu became bigger and bigger with dishes such as the award winning Sigma Meat Balls and spectacular Kidney Beans.</p></center>
            <center><p>However in 2000 Oaxaca took a massive L in customers as the chef of Oaxaca, Gilbert Jeronimo the 3rd, spontaneously combusted due to a methane gas leak. That is when the gods sent a message to Eminem and told him to become a partner to Oaxaca.</p></center>
            <center><p>And so Eminem changed the restaurants menu and brought in world renowned dishes such as Moms Spaghetti and Methane Gas along side Oaxaca new head chef Madame Gertrude Brunhilda.</p></center>
            <center><p>Ever since Eminem joined the business Oaxaca has been thriving even partnering up with more people of power such as Donald J Trump to bring classics such as the EPIC Covfefe.</p></center>
            <center><p>Because of the woke movement and genetically inferior people we also offer vegan options and options for all allergies.</p></center>
            <center><p>Here at Oaxaca, we hope to make your experience one of a kind with our spectacular food, atmosphere and history.</p></center>
        </article>
    </section>
{% endblock content %}