<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <meta name="description" content="Order" />
        <meta name="keywords" content="Oaxaca,order" />
        <title>Oaxaca</title>
        {% load static %}
        <script src="{% static 'javascript/menu.js' %}" defer></script>
        <link rel="stylesheet" href="{% static 'css/styles.css' %}" />
    </head>
    <body>
        {% include "restaurant/header_public.html" %}
        <a>Continue shopping</a>

        <table class="table">
            <tr>
                <th><h5>Items: <strong>3</strong></h5></th>
                <th><h5>Total: <strong>£23</strong></h5></th>
            </tr> 
        </table>
        {% include "restaurant/footer_public.html" %}
    </body>
</html>
