{% extends 'restaurant/index.html' %}
{% load static %}
{% block content %}
    <section class="wrap">
        <div>
            <a class="button button-block button-medium"
               href="{% url 'restaurant:index' %}">Back to Menu</a>
        </div>
        <div>
            <form id="cart-order-form"
                  action="{% url 'restaurant:checkout' %}"
                  method="post">
                {% csrf_token %}
                <label for="table-number">Table Number:</label>
                <input id="cart-table-number" name="table-number"
                       class="dish-count"
                       type="number"
                       min="1"
                       max="99"
                       maxlength="2"
                       required/>
                <button type="submit"
                        class="button button-block button-medium"
                        onclick="cartSubmit()">Checkout</button>
                <input id="cart-data" name="cart-data" type="hidden"/>
            </form>
        </div>
        <div id="cart-dishes"></div>
    </section>
    {{ dish_all|json_script:"dish-all" }}
{% endblock content %}
