{% extends 'restaurant/index.html' %}
{% load static %}
{% block content %}
    <section class="wrap">
        <div>
            <a class="button button-block" href="{% url 'restaurant:index' %}">&#x2190; Continue Shopping</a>
            <br>
            <br>
            <table class="table">
                <tr>
                    <th>
                        <h5 id="numItems"></h5>
                    </th>
                    <th>
                        <h5 id="totalPrice"></h5>
                    </th>
                    <th>
                        <a style="float:right;
                                  margin:5px"
                           class="button button-block btn btn-success"
                           href="{% url 'restaurant:checkout' %}">Checkout</a>
                    </th>
                </tr>
            </table>
        </div>
        <div id="cart-dishes"></div>
    </section>
    {{ dish_all|json_script:"dish-all" }}
{% endblock content %}
