{% extends "restaurant/index_staff.html" %}
{% block content %}
    <section class="wrap">
        <form action="" method=POST>
            {% csrf_token %}
            <h1>Orders</h1>
            <div class="table full-width">
                <div class="table-row">
                    <div class="table-cell table-heading">Order</div>
                    <div class="table-cell table-heading">Table</div>
                    <div class="table-cell table-heading">Status</div>
                    <div class="table-cell table-heading">Update</div>
                </div>
                {% for x in orders %}
                    <div class="table-row">
                        <div class="table-cell">{{ x.order_id }}</div>
                        <div class="table-cell">{{ x.table_id }}</div>
                        <div class="table-cell">{{ x.status_id }}</div>
                        <div class="table-cell">
                            <a class="button button-block"
                               href="{% url 'restaurant:update_order' x.order_id %}">Edit</a>
                            {% if x.status_id|stringformat:"s" == 'Order in progress' %}
                            <button class="button button-block button-medium" value="{{ x.order_id }}" name="confirm">Confirm Order</button>
                            <button class="button button-block button-medium" value="{{ x.order_id }}" name="cancel">Cancel Order</button>
                            {% elif x.status_id|stringformat:"s" == 'Ready to serve' %}
                                <button class="button button-block button-medium" value="{{ x.order_id }}" name="deliver">Mark as Delivered</button>
                            {% endif %}
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
        <h1>Help Needed</h1>
        <div class="table full-width">
            <div class="table-row table-heading">
                <div class="table-cell table-heading">Table</div>
                <div class="table-cell table-heading">Helped</div>
            </div>
            <form method="post">
                {% for table in need_help_tables %}
                    <div class="table-row">
                        <div class="table-cell">{{ table.table_id }}</div>
                        <div class="table-cell">
                            <button type="submit" class="button button-block button-medium" value={{ table.table_id }} name="helped">Done
                            </button>
                        </div>
                    </div>
                {% endfor %}
            </form>
        </div>
    </form>
</section>
{% endblock content %}
