{% extends "restaurant/index_staff.html" %}
{% block content %}
  <section class="wrap">
    <h1>Edit Dish: {{ dish.dish_name }}</h1>
    <div class="table">
      <div class="table-row">
        <label class="table-cell" for="dish-quantity">Quantity:</label>
        <input class="table-cell"
               type="number"
               id="dish-quantity"
               name="dish-quantity"
               value="{{ dish.dish_quantity }}"/>
      </div>
      <div class="table-row">
        <label class="table-cell" for="dish-price">Price: £</label>
        <input class="table-cell"
               type="number"
               id="dish-price"
               name="dish-price"
               value="{{ dish.dish_price }}"/>
      </div>
      <div class="table-row">
        <label class="table-cell" for="dish-calories">Calories:</label>
        <input class="table-cell"
               type="number"
               id="dish-calories"
               name="dish-calories"
               value="{{ dish.dish_calories }}"/>
      </div>
      <div class="table-row">
        <label class="table-cell" for="dish-availability">Available:</label>
        <label class="slide-toggle">
          <input class="slide-toggle-checkbox"
                 id="dish-availability"
                 name="dish-availability"
                 checked="dish.dish_availability"
                 type="checkbox"/>
          <span class="slide-toggle-switch"></span>
        </label>
      </div>
    </div>
    <div>
    </section>
    <section class="wrap">
      <a class="button button-block" href="{% url 'staff-menu' %}">Back</a>
      <input class="button button-block" type="submit" value="Submit" />
    </div>
  </section>
{% endblock content %}
