{% extends "restaurant/index_staff.html" %}
{% block content %}
  <section class="wrap">
    <h1>Edit Dish: {{ dish.dish_name }}</h1>
    <form class="table" action="" method="post">
      {% csrf_token %}
      {% for field in form %}
        <div class="table-row">
          <label class="table-cell" for="{{ field.auto_id }}">{{ field.label }}:</label>
          {{ field }}
        </div>
      {% endfor %}
      <div class="form-buttons">
        <a class="button button-block" href="{% url 'staff-menu' %}">Back</a>
        <input class="button button-block" type="submit" value="Submit" />
      </div>
    </form>
  </section>
{% endblock content %}
