<header>
    <div id="oaxaca-menu-bar" class="wrap">
        <span id="oaxaca-logo">Oaxaca</span>
        <form action="">
            <input type="text" placeholder="Search Dish">
            <button type="submit">
                {% load static %} <img src="images/food-icon-search.jpg">
            </button>
        </form>
    </div>
    <div class="wrap">
        <nav id="oaxaca-menu-bar-nav">
            <a>Menu</a>
            <a>About</a>
            <a>Log In</a>
        </nav>
    </div>
</header>