<header class="staff">
    <div id="oaxaca-menu-bar" class="wrap">
        <span id="oaxaca-logo"></span>
    </div>
    <div class="wrap">
        <nav id="oaxaca-menu-bar-nav">
            <a href="{% url 'restaurant:dashboard' %}">Dashboard</a>
            <a href="{% url 'restaurant:staff-menu' %}">Change Menu</a>
            <a href="{% url 'restaurant:kitchen_view' %}">Kitchen Staff</a>
            <a href="{% url 'restaurant:waiter_view' %}">Waiter Staff</a>
            <a href="{% url 'restaurant:index' %}">Log Off</a>
        </nav>
    </div>
</header>
