{% block content %}
    <section class="wrap">
        <form action="" method=POST>
            {% csrf_token %}
            <h1>Orders</h1>
            <div class="table full-width">
                <div class="table-row">
                    <div class="table-cell table-heading">Order</div>
                    <div class="table-cell table-heading">Table</div>
                    <div class="table-cell table-heading">Status</div>
                    <div class="table-cell table-heading">Update</div>
                </div>
{% endblock content %}