{% load static %}
<section id="page-title" class="wrap">
    <h2>Our Menu</h2>
</section>
<section id="menu-categories" class="wrap">
    <div id="menu-category-bar">
        {% if dish_categories %}
            {% for key, values in dish_categories.items %}<a href="#{{ key }}" class="menu-category">{{ values }}</a>{% endfor %}
        {% endif %}
    </div>
</section>
<section id="menu-filters" class="wrap">
    <input id="gluten-free" type="checkbox"/>
    <label for="gluten-free">Gluten Free</label>
</section>
<section id="menu-list" class="wrap">
    {% if dish_by_categories %}
        {% for key, values in dish_by_categories.items %}
            <div id="{{ key }}" class="dish-cards-category">
                <h2 class="dish-cards-category-text">{{ values.0.0 }}</h2>
                <div class="dish-cards-grid">
                    {% for dish in values %}
                        <div class="dish-card">
                            <div class="dish-info">
                                <div class="dish-info-row">
                                    <span class="dish-name">{{ dish.1.dish_name }}</span>
                                </div>
                                <div class="dish-info-row">
                                    <span class="dish-price">{{ dish.1.dish_price }}</span>
                                    <span class="dish-cal">{{ dish.1.dish_cal }}</span>
                                </div>
                                <div class="dish-info-row">
                                    <span class="dish-desc">Ingredients:
                                        {% for ingred in dish.1.dish_ingred %} 
                                        <span class="dish-ingred">{{ ingred }}</span>
                                        {% endfor %}
                                    </span>
                                </div>
                                <div class="dish-info-row dish-order">
                                    <div class="dish-count-input">
                                        <button class="dish-count-btn dish-count-sub">-</button>
                                        <input class="dish-count" type="number" min="1" max="10" value="1" />
                                        <button class="dish-count-btn dish-count-add">+</button>
                                    </div>
                                    <button class="dish-add-btn">Add to cart</button>
                                </div>
                            </div>
                            <div>
                                <img class="dish-thumbnail"
                                     src="{% static 'images/dish/' %}{{ dish.1.dish_id }}.png"
                                     alt="{{ dish.1.dish_name }}"/>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        {% endfor %}
    {% else %}
        <p>Sorry, there are no dishes available.</p>
    {% endif %}
</section>
{{ dish_categories|json_script:"dish-list" }}
{{ dish_by_categories|json_script:"dish-category" }}
<script>
const dishList= JSON.parse(document.getElementById('dish-list').textContent);
const dishCat= JSON.parse(document.getElementById('dish-category').textContent);
console.log(dishList);
console.log(dishCat);
</script>
