{% load static %}
<section id="menu-categories" class="wrap">
    <nav id="menu-category-bar">
        {% if dish_categories %}
            {% for key, value in dish_categories.items %}
                <a href="#{{ value }}" class="menu-category font-medium">{{ value }}</a>
            {% endfor %}
        {% endif %}
    </nav>
</section>
<section id="menu-filters" class="wrap">
    {% if allergens %}
        <h3 class="heading-collapsible text-center">Show Filters</h3>
        <div class="margin-medium collapse">
            <p class="font-medium margin-short">Allergens</p>
            <div class="menu-filter-grid">
                {% for key, allergen in allergens.items %}
                    <label class="slide-toggle" for="{{ key }}">
                        <input class="slide-toggle-checkbox"
                               id="{{ key }}"
                               value="{{ key }}"
                               type="checkbox"/>
                        <span class="slide-toggle-switch"></span>
                        <span class="slide-toggle-text">{{ allergen }} Free</span>
                    </label>
                {% endfor %}
            </div>
            <button class="button button-medium button-block font-medium full-width"
                    onclick="filterMenuCheckbox()">Apply</button>
        </div>
    {% endif %}
</section>
<section id="menu-list" class="wrap">
    {% if dish_by_categories %}
        {% for category, dishes in dish_by_categories.items %}
            <div id="{{ category }}" class="dish-cards-category">
                <h2>{{ category }}</h2>
                <div class="dish-cards-grid">
                    {% for dish in dishes %}
                        <div class="dish-card">
                            <div class="dish-info">
                                <div class="dish-info-row">
                                    <span class="dish-name font-semibold">{{ dish.dish_name }}</span>
                                </div>
                                <div class="dish-info-row">
                                    <span class="dish-price font-medium">{{ dish.dish_price }}</span>
                                </div>
                                <div class="dish-info-dropdown">
                                    <div class="dish-info-row hidden">
                                        <span class="dish-cal">{{ dish.dish_cal }}</span>
                                        <div class="dish-desc">
                                            Ingredients:
                                            {% for ingred, allergen in dish.dish_ingred_allergic.items %}
                                                <span class="dish-ingred dish-ingred-allergic">{{ ingred }} ({{ allergen }})</span>
                                            {% endfor %}
                                            {% for ingred in dish.dish_ingred %}<span class="dish-ingred">{{ ingred }}</span>{% endfor %}
                                        </div>
                                    </div>
                                    <span class="dish-info-dropdown-btn button button-inline more-info"></span>
                                </div>
                                <div class="dish-info-row dish-order">
                                    <button class="button button-block dish-count-btn dish-count-sub font-medium"></button>
                                    <input class="dish-count"
                                           type="number"
                                           min="1"
                                           max="10"
                                           maxlength="2"
                                           value="1"/>
                                    <button class="button button-block dish-count-btn dish-count-add font-medium"></button>
                                    <button class="button button-medium button-block dish-add-btn font-medium">Add to cart</button>
                                </div>
                            </div>
                            <div>
                                <img class="dish-thumbnail"
                                     src="{% static 'images/dish/' %}{{ dish.dish_id }}.png"
                                     alt="{{ dish.dish_name }}"/>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        {% endfor %}
    {% else %}
        <p>Sorry, there are no dishes available.</p>
    {% endif %}
</section>
{{ allergens|json_script:"allergens" }}
{{ dish_categories|json_script:"dish-list" }}
{{ dish_by_categories|json_script:"dish-category" }}
<script>
const dishList= JSON.parse(document.getElementById('dish-list').textContent);
const dishCat= JSON.parse(document.getElementById('dish-category').textContent);
console.log(dishList);
console.log(dishCat);
</script>
