{% extends "restaurant/index_staff.html" %}
{% block content %}
  <section class="wrap">
    <h1>Menu Management</h1>
    <div class="table full-width">
      <div class="table-row table-heading">
        <div class="table-cell table-heading">ID</div>
        <div class="table-cell table-heading">Item</div>
        <div class="table-cell table-heading">Quantity</div>
        <div class="table-cell table-heading">Price</div>
        <div class="table-cell table-heading">Calories</div>
        <div class="table-cell table-heading">Availability</div>
        <div class="table-cell table-heading">Actions</div>
      </div>
      {% for dish in dish_list %}
      <div class="table-row">
        <div class="table-cell">{{ dish.dish_id }}</div>
        <div class="table-cell">{{ dish.dish_name }}</div>
        <div class="table-cell">{{ dish.dish_quantity }}</div>
        <div class="table-cell">{{ dish.dish_price }}</div>
        <div class="table-cell">{{ dish.dish_calories }}</div>
        <div class="table-cell">{{ dish.dish_availability }}</div>
        <div class="table-cell">
          <a href="{% url 'staff-dish-details' dish.dish_id %}"
             class="button button-block">Edit</a>
        </div>
      </div>
      {% endfor %}
    </div>
  </section>
{% endblock content %}
