{% extends 'restaurant/index.html' %}
{% load static %}
{% block content %}
    <section id="menu-categories" class="wrap">
        <nav id="menu-category-bar">
            {% if dish_categories %}
                {% for category in dish_categories %}
                    <a href="#{{ category.category_name }}"
                    class="menu-category font-medium">{{ category.category_name }}</a>
                {% endfor %}
            {% endif %}
        </nav>
    </section>
    <section id="menu-filters" class="wrap">
        {% if allergens %}
            <h3 class="heading-collapsible text-center">Show Filters</h3>
            <div class="margin-medium collapse">
                <p class="font-medium margin-short">Allergens</p>
                <div class="menu-filter-grid">
                    {% for allergen in allergens %}
                        <label class="slide-toggle" for="{{ allergen.allergies_name }}">
                            <input class="slide-toggle-checkbox"
                                id="{{ allergen.allergies_name }}"
                                value="{{ allergen.allergies_name }}"
                                type="checkbox"/>
                            <span class="slide-toggle-switch"></span>
                            <span class="slide-toggle-text">{{ allergen.allergies_name }} Free</span>
                        </label>
                    {% endfor %}
                </div>
                <button class="button button-medium button-block font-medium full-width"
                        onclick="filterMenuCheckbox()">Apply</button>
            </div>
        {% endif %}
    </section>
    <section id="menu-list" class="wrap">
        {% if dish_by_categories %}
            {% for category, dishes in dish_by_categories.items %}
                <div id="{{ category }}" class="dish-cards-category">
                    <h2>{{ category }}</h2>
                    <div class="dish-cards-grid">
                        {% for dish in dishes %}
                            <div class="dish-card dish-{{ dish.dish_id }}">
                                <div class="dish-info">
                                    <div class="dish-info-row">
                                        <span ah faclass="dish-name font-semibold dishName">{{ dish.dish_name }}</span>
                                    </div>
                                    <div class="dish-info-row">
                                        <span id="price{{dish.dish_price}}" class="dish-price {% if dish.dish_price == 0 %}dish-free{% endif %} font-medium price">
                                            {% if dish.dish_price != 0 %}
                                                {{ dish.dish_price }}
                                            {% else %}
                                                Free
                                            {% endif %}
                                        </span>
                                    </div>
                                    <div class="dish-info-dropdown">
                                        <div class="dish-info-row hidden">
                                            <span class="dish-cal">{{ dish.dish_calories }}</span>
                                            <div class="dish-desc">
                                                Ingredients:
                                                {% for ingred in dish.ingredient_id.all %}
                                                    {% if ingred.allergies_id.all %}
                                                        <span class="dish-ingred dish-ingred-allergic">{{ ingred }}
                                                            (
                                                            {% for allergen in ingred.allergies_id.all %}{{ allergen.allergies_name }}{% endfor %}
                                                            )
                                                        </span>
                                                    {% else %}
                                                        <span class="dish-ingred">{{ ingred }}</span>
                                                    {% endif %}
                                                {% endfor %}
                                                {% for ingred, allergen in dish.dish_ingred_allergic.items %}
                                                    <span class="dish-ingred dish-ingred-allergic">{{ ingred }} ({{ allergen }})</span>
                                                {% endfor %}
                                                {% for ingred in dish.dish_ingred %}<span class="dish-ingred">{{ ingred }}</span>{% endfor %}
                                            </div>
                                        </div>
                                        <span class="dish-info-dropdown-btn button button-inline more-info"></span>
                                    </div>
                                    <div class="dish-info-row dish-order">
                                        <button id="dish{{dish.dish_id}}" class="button button-medium button-block dish-add-btn font-medium cart" onclick="addToCart({{dish.dish_id}},'{{dish.dish_name}}', {{dish.dish_price}}, 1)" >Add to cart</button>
                                        <button id="minus{{dish.dish_id}}" class='btn btn-primary minus' onclick="minusItem({{ dish.dish_id }})"> - </button> 
                                        <span id="val{{dish.dish_id}}"> 1 </span> 
                                        <button id='plus{{dish.dish_id}}' class='btn btn-primary plus' onclick="moreItem({{ dish.dish_id }})"> + <button>
                                    </div>
                                </div>
                                <div>
                                    <img class="dish-thumbnail"
                                        src="{% static 'images/dish/' %}{{ dish.dish_name }}.png"
                                        alt="{{ dish.dish_name }}"
                                        onerror="this.onerror=null;this.style.display='none';src='';this.class='';"
                                        />
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                </div>
            {% endfor %}
        {% else %}
            <p>Sorry, there are no dishes available.</p>
        {% endif %}
    </section>
    {{ dish_allergens|json_script:"dish-allergens" }}

    <script>
        // Create cart dictionary if doesnt exist in local storage
        // Otherwise parse every item in the storage that is stored in JSON
        // To the dictionary
        if(window.localStorage.getItem('cart') == null){
            var cart = {};
        } else {
            cart = JSON.parse(window.localStorage.getItem('cart'));
        }

        // If the dish_id does not exist in the dictionary, create a new entry
        // Otherwise, change dish_id key in the dict to change the quantity.
        // Call updateCart to update the cart
        function addToCart(dish_id, dish_name, dish_price, dish_quantity){
            if(cart[dish_id]!= undefined) {
                let cart = {
                    dish_id : {
                        name: dish_name,
                        price: dish_price,
                        qty: dish_quantity
                    }};
            } else {
                cart[dish_id] = [dish_name, dish_price, dish_quantity];
            }
            console.log(cart);

            updateCart(cart, dish_id);
        }

        // If the carts quantity is greater than 0
        // We show the quantity buttons and hide add to cart button
        function updateCart(cart, dish_id){
            if(cart[dish_id][2] > 0){
                showQty(dish_id);
                hideAdd(dish_id);
            } else {

            }
            //Set the cart in storage so everything is saved.
            window.localStorage.setItem('cart', JSON.stringify(cart));
        }

        // Function to hide the add to cart button once quantity is above 1
        function hideAdd(dish_id){
            document.getElementById("dish" + dish_id).style.display = "none";
        }

        // Function to show the quantity buttons once add to cart has been pressed
        function showQty(dish_id){
            document.getElementById("minus" + dish_id).style.display = "inline";
            document.getElementById("val" + dish_id).style.display = "inline";
            document.getElementById("plus" + dish_id).style.display = "inline";
        }

        // Hide quantity buttons if quantity is less than one
        function hideQty(dish_id){
            document.getElementById("minus" + dish_id).style.display = "none";
            document.getElementById("val" + dish_id).style.display = "none";
            document.getElementById("plus" + dish_id).style.display = "none";
        }

        // Show add to car button if quantity is less than one.
        function showAdd(dish_id){
            document.getElementById("dish" + dish_id).style.display = "inline";
        }

        // Remove item from cart by setting its qty to 0
        // Show add to cart button and remove hide qty button
        function removeItem(dish_id){
            cart[dish_id][2] = 0;
            showAdd(dish_id);
            hideQty(dish_id);
        }

        // Reduce quantity by 1.
        // If quantity is less than or equal to 1 we remove the item from cart
        // Else decrement qty by 1
        function minusItem(dish_id){
            if (cart[dish_id][2] <= 1){
                removeItem(dish_id);
            } else {
                cart[dish_id][2] = cart[dish_id][2] - 1;
            }
        }
        
        // Increase quantity by one when called
        function moreItem(dish_id){
            cart[dish_id][2] = cart[dish_id][2] + 1;
        }


    </script>

{% endblock content %}