<html>
    <head>
        <title>Card Payment Details:</title>
        <script>
          function onSubmit() {
            var cardNumber = document.getElementById("card-number").value;
            var expiryDate = document.getElementById("expiry-date").value;
            var cvv = document.getElementById("cvv").value;
                alert("Payment Success!");
          }
        </script>
    </head>
    <body>
        <h1>Enter Card Payment Details:</h1>
        <form>
          <label for="card-number">Card Number:</label>
          <input type="text" id="card-number" name="card-number" required>
          <br><br>
          <label for="expiry-date">Expiry Date:</label>
          <input type="month" id="expiry-date" name="expiry-date" placeholder="MM/YY" required>
          <br><br>
          <label for="cvv">CVV:</label>
          <input type="text" id="cvv" name="cvv" required>
          <br><br>
          <button type="button" onclick="onSubmit()">Submit</button>
        </form>
    </body>
</html>