{% extends "restaurant/index.html" %}
{% block content %}
  <section class="wrap">
    <script>
          function onSubmit() {
            var cardNumber = document.getElementById("card-number").value;
            var expiryDate = document.getElementById("expiry-date").value;
            var cvv = document.getElementById("cvv").value;
            var payment_time = new Date();
                alert("Payment Success!");
          }
    </script>
    <h1>Table:{{ payment.order_id }}</h1>
    <h1>Enter Card Payment Details:</h1>
    <form method="POST" action="">
      {% csrf_token %}
      <label for="card-number">Card Number:</label>
      <input type="text" id="card-number" name="card-number" required>
      <br>
      <br>
      <label for="expiry-date">Expiry Date:</label>
      <input type="month"
             id="expiry-date"
             name="expiry-date"
             placeholder="MM/YY"
             required>
      <br>
      <br>
      <label for="cvv">CVV:</label>
      <input type="text" id="cvv" name="cvv" required>
      <br>
      <br>
      <button type="submit" onclick="onSubmit()">Submit</button>
    </form>
  </section>
{% endblock content %}
