<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <meta name="description" content="Order" />
        <meta name="keywords" content="Oaxaca,order" />
        <title>View Cart - Oaxaca</title>
        {% load static %}
        <link rel="stylesheet" href="{% static 'css/styles.css' %}" />
    </head>
    <body>
        <header>
            <div id="oaxaca-menu-bar" class="wrap">
                <span id="oaxaca-logo">Oaxaca</span>
                <a href="{% url 'cart' %}" class="oaxaca-menu-bar-button">View Cart</a>
            </div>
            <div class="wrap">
                <nav id="oaxaca-menu-bar-nav">
                    <a >Home</a>
                    <a href="{% url 'menu' %}">Menu</a>
                    <a>About</a>
                    <a>Log In</a>
                </nav>
            </div>
        </header>
        <section id="page-title" class="wrap">
            <h3>Your cart</h3>
            <h3>Total: £{{ price_total }}</h3>
        </section>
        <section id="menu-list" class="wrap">
            {% if order_list %}
                <div class="dish-cards-grid">
                    {% for dish in order_list %}
                        <div class="dish-card">
                            <div class="dish-info">
                                <div class="dish-info-row">
                                    <span class="dish-name">{{ dish.dish_name }}</span>
                                </div>
                                <div class="dish-info-row">
                                    <span class="dish-price">{{ dish.price }}</span>
                                </div>
                            </div>
                            <div>
                                <img class="order-thumbnail"
                                     src="{% static 'images/dish/' %}{{ dish.dish_id }}.png"/>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            {% else %}
                <p>Sorry, there are no dishes available.</p>
            {% endif %}
        </section>
    </body>
</html>
