@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap');
html {
    scroll-padding-top: 60px;
}

body {
    margin: 0;
    font-size: 16px;
    font-family: 'Poppins', sans-serif;
    background: rgb(240, 240, 240);
}

header {
    width: 100%;
    margin: 0;
    background: rgb(69, 69, 69);
}

.wrap {
    padding: 12px;
    max-width: 640px;
    margin: 0 auto;
}

section {
    padding: 12px 48px !important;
    background: white;
}

#oaxaca-menu-bar {
    display: grid;
    grid-template-columns: 3fr 1fr;
    grid-gap: 8px;
    align-items: center;
}

.oaxaca-menu-bar-button {
    font-weight: 800;
    color: white;
    margin: 0;
    padding: 12px;
    text-align: right;
}

#oaxaca-logo {
    font-size: 48px;
    font-weight: 800;
    margin: 0;
    padding: 12px;
    text-transform: uppercase;
    color: white;
}

#oaxaca-menu-bar-nav {
    font-size: 20px;
    font-weight: 800;
    margin: 0;
    padding: 0px 12px 8px;
    text-transform: uppercase;
    text-align: center;
    display: flex;
    width: 100%;
}

#oaxaca-menu-bar-nav a {
    padding: 0px 8px;
    flex-grow: 1;
    color: white;
}

#page-title * {
    position: relative;
    padding: 8px 12px;
}

#menu-categories {
    position: sticky;
    top: 0;
}

#menu-category-bar {
    padding: 8px 12px;
    overflow-x: auto;
    white-space: nowrap;
    -ms-overflow-style: none;
    scrollbar-width: none;
}

#menu-category-bar::-webkit-scrollbar {
    display: none;
}

.menu-category {
    font-size: 18px;
    color: rgb(69, 69, 69);
    text-decoration: none;
    padding: 8px 12px;
    white-space: nowrap;
}

.menu-category:hover {
    border-bottom: 2px solid rgb(69, 69, 69);
}

.menu-category.active {
    border-bottom: 2px solid rgb(69, 69, 69);
}

.menu-filter-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: repeat();
}

.dish-cards-category {
    border-top: 2px rgb(240, 240, 240) solid;
    margin-top: 12px;
}

.dish-cards-category-text {
    padding: 8px 12px;
}

.dish-cards-grid {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 16px;
    align-items: stretch;
}

.dish-card {
    display: grid;
    grid-template-columns: 3fr 1fr;
}

.dish-thumbnail {
    width: 100%;
    object-fit: contain;
}

.order-thumbnail {
    width: 64px;
    object-fit: contain;
}

.dish-info {
    margin: 8px 12px;
}

.dish-info-row {
    margin: 4px 0px;
}


/*
    Hides the ingredients and calories, shows them after javascript prompt
*/

.hidden-dish-info-row {
    margin: 4px 0px;
    padding: 0.2em 0.5em;
    display: none;
    opacity: 0;
    transition: 0.5s;
}


/*
    Used to show the hidden details
*/

.show-dish-info-row {
    display: block;
    opacity: 1
}


/*
    View More button
*/

.dish-more-info {
    background: 2px rgb(204, 204, 204);
    width: 18%;
    margin: 8px 12px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 2px rgb(204, 204, 204) solid;
    border-radius: 0.5em;
    cursor: pointer;
    transition: background 0.5s;
}

.dish-more-info:hover {
    background: 2px rgb(240, 240, 240);
}

.dish-name {
    font-size: 18px;
    font-weight: 600;
}

.dish-price {
    font-weight: 500;
}

.dish-price::before {
    content: "£";
}

.dish-cal {
    color: rgb(128, 128, 128);
    font-size: 12px;
}

.dish-cal::after {
    content: "kcal";
}

.dish-desc {
    font-size: 14px;
    line-height: 28px;
    color: rgb(99, 99, 99);
}

.dish-ingred {
    padding: 2px 8px;
    margin: 0 2px;
    background: rgb(240, 240, 240);
    border-radius: 12px;
}

.dish-ingred-allergic {
    background: rgb(240, 192, 192);
}

.dish-order {
    margin: 8px;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.dish-count-input {
    display: grid;
    grid-template-columns: 42px 1fr 42px;
}

.dish-count-btn {
    margin: 8px;
}

.dish-count {
    margin: 8px;
    font-size: 16px;
    text-align: center;
}

.dish-add-btn {
    margin: 8px;
    text-align: center;
}