{% extends "base.html" %}

{% block content %}
    <center>
    <hr/>
    <br/>
    <style>
        .column {
            float: left;
        }
        .left {
            width: 60%;
        }
        .right {
            float: right;
            width: 30%;
        }
        .content-table {
            border-collapse: collapse;
            margin: 5px 0 0 0 ;
            font-size: 0.5em;
            font-family: sans-serif;
            min-width: 200px;
            border-radius: 5px 5px 0 0;
            overflow: hidden;
            box-shadow: 0 0 20px #rgba(0, 0, 0, 0.15);
            width: 80%;
        }

        .content-table thead tr {
            background-color: #009879;
            color: #ffffff;
            text-align: left;
            font-weight: bold;
        }
        .content-table th,
        .content-table td {
            padding: 5px 15px;
        }
        .content-table td {
            color: #000;
        }


        .content-table tbody tr {border-bottom: thin solid #dddddd;}
        .content-table tbody tr:nth-of-type(even) {background-color: f3f3f3;}
        .content-table tbody tr:last-of-type {border-bottom: 2px solid #009879}
        .content-table tbody tr:hover {background-color: #dddddd;}
        
        .content-table#help {
            width: 50%;
        }

        .button-update {
        align-items: center;
        background-color: #FFFFFF;
        border: 1px solid rgba(0, 0, 0, 0.1);
        border-radius: .25rem;
        box-shadow: rgba(0, 0, 0, 0.02) 0 1px 3px 0;
        box-sizing: border-box;
        color: rgba(0, 0, 0, 0.85);
        cursor: pointer;
        display: inline-flex;
        font-family: sans-serif;
        font-size: 12px;
        font-weight: 600;
        color: #009879;
        justify-content: center;
        line-height: 0.5;
        margin: 0;
        min-height: 1rem;
        padding: calc(.875rem - 1px) calc(1.5rem - 1px);
        position: relative;
        text-decoration: none;
        transition: all 250ms;
        user-select: none;
        -webkit-user-select: none;
        touch-action: manipulation;
        vertical-align: baseline;
        width: auto;
        }

        .button-update:hover,
        .button-update:focus {
        border-color: rgba(0, 0, 0, 0.15);
        box-shadow: rgba(0, 0, 0, 0.1) 0 4px 12px;
        color: rgba(0, 0, 0, 0.65);
        }

        .button-update:hover {transform: translateY(-1px);}

        .button-update:active {
        background-color: #F0F0F1;
        border-color: rgba(0, 0, 0, 0.15);
        box-shadow: rgba(0, 0, 0, 0.06) 0 2px 4px;
        color: rgba(0, 0, 0, 0.65);
        transform: translateY(0);
        }

    </style>

    <form action="" method=POST> {% csrf_token %}
        <div class="row">
            <div class="column left">
                    <h5>Orders</h5>
                    <table class="content-table">
                        <thead>
                            <tr>
                                <th scope="col" style="width:20px">Order</th>
                                <th scope="col" style="width:40px">Table</th>
                                <th scope="col" style="width:40px">Status</th>
                                <th scope="col" style="width:40px">Update</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for x in orders %}
                            <tr>
                                <td>{{ x.order_id }}</td>
                                <td>{{ x.table_id }}</td>
                                <td>{{ x.status_id }}</td>
                                <td><a class ="button-update" href="{% url 'update_order' x.order_id %}">Update</a></td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
            </div>
            <div class="column right">
                    <h5>Help Needed</h5>
                    <table class="content-table" id="help">
                        <thead>
                            <tr>
                                <th scope="col" style="width:20px">Table</th>
                                <th scope="col" style="width:20px">Helped</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for c in help %}
                            <tr>
                                <td>{{ c.table_id }}</td>
                                <td><button type="submit" class="button-update" value={{c.table_id}} name="boxes">Done</button></td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
            </div>
        </div>
    </form>
    </center>

{% endblock content %}