{% extends "base.html" %}

{% block content %}
    <center>
    <hr/>
    
    <style>
        .content-table {
            border-collapse: collapse;
            margin: 25px 0;
            font-size: 0.9em;
            font-family: sans-serif;
            min-width: 400px;
            border-radius: 5px 5px 0 0;
            overflow: hidden;
            box-shadow: 0 0 20px #rgba(0, 0, 0, 0.15);
            width: 70%;
        }

        .content-table thead tr {
            background-color: #009879;
            color: #ffffff;
            text-align: left;
            font-weight: bold;
        }
        .content-table th,
        .content-table td {padding: 12px 15px;}
        .content-table tbody tr {border-bottom: thin solid #dddddd;}
        .content-table tbody tr:nth-of-type(even) {background-color: f3f3f3;}
        .content-table tbody tr:last-of-type {border-bottom: 2px solid #009879}
        .content-table tbody tr:hover {background-color: #dddddd;}
        
        .button-update {
        align-items: center;
        background-color: #FFFFFF;
        border: 1px solid rgba(0, 0, 0, 0.1);
        border-radius: .25rem;
        box-shadow: rgba(0, 0, 0, 0.02) 0 1px 3px 0;
        box-sizing: border-box;
        color: rgba(0, 0, 0, 0.85);
        cursor: pointer;
        display: inline-flex;
        font-family: sans-serif;
        font-size: 16px;
        font-weight: 600;
        color: #009879;
        justify-content: center;
        line-height: 1.25;
        margin: 0;
        min-height: 3rem;
        padding: calc(.875rem - 1px) calc(1.5rem - 1px);
        position: relative;
        text-decoration: none;
        transition: all 250ms;
        user-select: none;
        -webkit-user-select: none;
        touch-action: manipulation;
        vertical-align: baseline;
        width: auto;
        }

        .button-update:hover,
        .button-update:focus {
        border-color: rgba(0, 0, 0, 0.15);
        box-shadow: rgba(0, 0, 0, 0.1) 0 4px 12px;
        color: rgba(0, 0, 0, 0.65);
        }

        .button-update:hover {transform: translateY(-1px);}

        .button-update:active {
        background-color: #F0F0F1;
        border-color: rgba(0, 0, 0, 0.15);
        box-shadow: rgba(0, 0, 0, 0.06) 0 2px 4px;
        color: rgba(0, 0, 0, 0.65);
        transform: translateY(0);
        }

        .checkbox .tgl {
        display: none;
        }
        .checkbox .tgl,
        form-check-input .tgl:after,
        form-check-input .tgl:before,
        .checkbox .tgl *,
        .checkbox .tgl *:after,
        .checkbox .tgl *:before,
        .checkbox .tgl + .tgl-btn {
        box-sizing: border-box;
        }
        .checkbox .tgl::-moz-selection,
        .checkbox .tgl:after::-moz-selection,
        .checkbox .tgl:before::-moz-selection,
        .checkbox .tgl *::-moz-selection,
        .checkbox .tgl *:after::-moz-selection,
        .checkbox .tgl *:before::-moz-selection,
        .checkbox .tgl + .tgl-btn::-moz-selection,
        .checkbox .tgl::selection,
        .checkbox .tgl:after::selection,
        .checkbox .tgl:before::selection,
        .checkbox .tgl *::selection,
        .checkbox .tgl *:after::selection,
        .checkbox .tgl *:before::selection,
        .checkbox .tgl + .tgl-btn::selection {
        background: none;
        }
        .checkbox .tgl + .tgl-btn {
        outline: 0;
        display: block;
        width: 4em;
        height: 2em;
        position: relative;
        cursor: pointer;
        -webkit-user-select: none;
            -moz-user-select: none;
            -ms-user-select: none;
                user-select: none;
        }
        .checkbox .tgl + .tgl-btn:after,
        .checkbox .tgl + .tgl-btn:before {
        position: relative;
        display: block;
        content: "";
        width: 50%;
        height: 100%;
        }
        .checkbox .tgl + .tgl-btn:after {
        left: 0;
        }
        .checkbox .tgl + .tgl-btn:before {
        display: none;
        }
        .checkbox .tgl:checked + .tgl-btn:after {
        left: 50%;
        }
    
        .checkbox .tgl-light + .tgl-btn {
        background: #f0f0f0;
        border-radius: 2em;
        padding: 2px;
        transition: all 0.4s ease;
        }
        .checkbox .tgl-light + .tgl-btn:after {
        border-radius: 50%;
        background: #fff;
        transition: all 0.2s ease;
        }
        .checkbox .tgl-light:checked + .tgl-btn {
        background: #009879;
        }
    </style>

    <form action="" method=POST> {% csrf_token %}
        <table class="content-table">
            <thead>
                <tr>
                    <th scope="col">Order Id</th>
                    <th scope="col">Order Time</th>
                    <th scope="col">Table Id</th>
                    <th scope="col">Dish Id</th>
                    <th scope="col">Status Code</th>
                    <th scope="col">Order Finish</th>
                </tr>
            </thead>
            <tbody>
                {% for x in orders %}
                <tr>
                    <td>{{ x.order_id }}</td>
                    <td>{{ x.order_time }}</td>
                    <td>{{ x.table_id }}</td>
                    <td>{{ x.dish_id }}</td>
                    <td>{{ x.status_code }}</td>
                    <td>
                        <div class="checkbox">
                            <input class="tgl tgl-light" id="cb1-6" type="checkbox" value={{ x.order_finish }} name="boxes"/>
                            <label class="tgl-btn" for="cb1-6">
                          </div>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>

        <br/>
        <button class='button-update' type="submit">Update</button>
    </center>

{% endblock content %}