{% extends "base.html" %}

{% block content %}
    <center>
    <hr/>
        <table border="1">
            <tr>
                <th>Order Id</th>
                <th>Order Time</th>
                <th>Table Id</th>
                <th>Dish Id</th>
                <th>Status Code</th>
                <th>Order Finish</th>
            </tr>
            {% for x in orders %}
            <tr>
                <td>{{ x.order_id }}</td>
                <td>{{ x.order_time }}</td>
                <td>{{ x.table_id }}</td>
                <td>{{ x.dish_id }}</td>
                <td>{{ x.status_code }}</td>
                <td><input class="finish_check" type="checkbox" value={{ x.order_finish }} </td>
            </tr>
            {% endfor %}
        </table>

        <br/>
        <button class='btn btn-secondary' type="submit">Update</button>
    </center>

    {% endblock content %}