<html>

{% block content %}
<h1>{{ dish.dish_name }}</h1>
<tr>
  <td><label for="quantity">Quantity:</label></td>
  <td>
    <input type="number" id="quantity" name="quantity" value="{{ dish.dish_quantity }}">
    <br><br>
  </td>
</tr>
<tr>
  <td><label for="price">Price: £</label></td>
  <td>
    <input type="number" id="price" name="price" value="{{ dish.dish_price }}">
    <br><br>
  </td>
</tr>
<tr>
  <label for="calories">Calories:</label>
  <td>{{ dish.dish_calories }}</td>
  <td><br><br></td>
</tr>
<tr>
  <label for="available">Available:</label>
  <td>
    <input type="checkbox" onchange="toggleAvailabile" value="{{ dish.dish_availability }}">
    <br><br>
  </td>
</tr>
  <input type="submit" value="Submit">
  <p><a href="/manage/menu">Back to menu</a>
  
{% endblock %}   
</html>