<html>

{% block content %}
  <h1>Dishes</h1>
    <table>
      <tr>
        <th>ID</th>
        <th>Item</th>
        <th>Quantity</th>
        <th>Price</th>
        <th>Calories</th>
        <th>Availability</th>
        <th>Actions</th>
      </tr>
      {% for x in dish %}
      <tr>
        <td>{{ x.dish_id }}</td>
        <td>{{ x.dish_name }}</td>
        <td>{{ x.dish_quantity }}</td>
        <td>{{ x.dish_price }}</td>
        <td>{{ x.dish_calories }}</td>
        <td>{{ x.dish_availability }}</td>
        <td>
          <form action="edit/{{ x.dish_id }}">
            <input type="submit" value="Edit" />
        </form>
        </td>
      </tr>
    {% endfor %}
{% endblock %}
<p><a href="/">HOME</a></p>
</html>