<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <meta name="description" content="Order" />
        <meta name="keywords" content="Oaxaca,order" />
        <title>Oaxaca</title>
        {% load static %}
        <script src="{% static 'javascript/menu.js' %}" defer></script>
        <link rel="stylesheet" href="{% static 'css/styles.css' %}" />
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
    </head>
    <body>
        {% include "restaurant/header_public.html" %}
        <h1 class="text-center">Welcome, user</h1>        
        <section class="wrap">
            <h2 class="text-center"> Here is the orders' overview</h2>
        </section>
        <div class="row">
            <div id="ordersReadyDiv" class="col-lg-6">
                <h3>Orders ready</h3>
                {% for order in orders_ready %}
                <div class="dish-card m-4 p-1">
                    <div class="order_id">
                        <p>Order ID: {{ order.order_id }}</p>
                    </div>
                    <div class="order_status">
                        <p>Status: {{ order.status }}</p>
                    </div>
                </div>
                {% endfor %}
            </div>
            <div id="ordersNotReadyDiv" class="col-lg-6">
                <h3>In progress</h3>
                {% for order in orders_not_ready %}
                <div class="dish-card m-4 p-1">
                    <div class="order_id">
                        <p>Order ID: {{ order.order_id }}</p>
                    </div>
                    <div class="order_status">
                        <p>Status: {{ order.status }}</p>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </body>
</html>

<script>
    var getJSON = function(url, callback) {
        var xhr = new XMLHttpRequest();
        xhr.open('GET', url, true);
        xhr.responseType = 'json';
        xhr.onload = function() {
          var status = xhr.status;
          if (status === 200) {
            callback(null, xhr.response);
          } else {
            callback(status, xhr.response);
          }
        };
        xhr.send();
    };
    
    var ordersPrevious = [];
    var ordersCompared = [];

    function checkOrdersInitial(){
        getJSON('/orders/',
        function(err, data) {
            if (err !== null) {
                alert('Something went wrong: ' + err);
            } else {
                ordersPrevious = data;
            }
        });
    }

    checkOrdersInitial();

    function checkOrdersChanges(){
        getJSON('/orders/',
        function(err, data) {
            if (err !== null) {
                alert('Something went wrong: ' + err);
            } else {
                ordersCompared = data;
                if (ordersCompared[0].length > ordersPrevious[0].length){
                    alert("New order complete!");
        
                    readyDivsList = '';
                    notReadyDivsList = '';
                    for(var order of ordersCompared[0]){
                        readyDivsList += `
                            <div class="dish-card m-4 p-1">
                                <div class="order_id">
                                    <p>Order ID: ${order.order_id}</p>
                                </div>
                                <div class="order_status">
                                    <p>Status: ${order.status}</p>
                                </div>
                            </div>
                        `;
                    }
                    for(var order of ordersCompared[1]){        
                        notReadyDivsList += `
                            <div class="dish-card m-4 p-1">
                                <div class="order_id">
                                    <p>Order ID: ${order.order_id}</p>
                                </div>
                                <div class="order_status">
                                    <p>Status: ${order.status}</p>
                                </div>
                            </div>
                        `;
                    }
                    //console.log(readyDivsList);
        
                    document.getElementById("ordersReadyDiv").innerHTML = `
                        <h3>Orders ready</h3>
                        ${readyDivsList}`;
        
                    document.getElementById("ordersNotReadyDiv").innerHTML = `
                        <h3>In progress</h3>
                        ${notReadyDivsList}`;
                    
        
                    ordersPrevious = ordersCompared;
                }
            }
        });
        
    }


    window.setInterval(checkOrdersChanges, 5000);
    
</script>
